body {
  background: rgb(0,27,133);
  background: radial-gradient(circle, rgba(0,27,133,1) 0%, rgba(79,0,84,1) 100%);
  font-family: Arial, Helvetica, sans-serif;
}
#field {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#phone {
  height: 800px;
  width: 410px;
  background-color: rgb(0, 0, 0);
  border-radius: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: hello;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes hello {
  from {
    filter: blur(20px);
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    filter: blur(0);
    opacity: 1;
    transform: scale(1);
  }
}
#screen {
  background-image: url(images/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 390px;
  height: 780px;
  border-radius: 45px;
}
#top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#island {
  position: fixed;
  background-color: rgb(0, 0, 0);
  width: 100px;
  height: 35px;
  border-radius: 30px;
  justify-self: center;
  margin-top: 40px;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: 0.2s;
}
#island:hover {
  width: 130px;
  transform: scale(1.1);
  padding-left: 30px;
  cursor: pointer;
  margin-top: 42px;
}
#island:active {
  width: 160px;
  transform: scale(1.1);
  padding-left: 60px;
  padding-bottom: 20px;
  border-radius: 15px;
  margin-top: 68px;
  background-color: rgba(0, 0, 0, 0.678);
  backdrop-filter: blur(5px);
}
.top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.island {
  position: fixed;
  background-color: rgb(0, 0, 0);
  width: 100px;
  height: 35px;
  border-radius: 30px;
  justify-self: center;
  margin-top: 40px;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: 0.2s;
}
.island:hover {
  width: 130px;
  transform: scale(1.1);
  padding-left: 30px;
  cursor: pointer;
  margin-top: 42px;
}
.island:active {
  width: 160px;
  transform: scale(1.1);
  padding-left: 60px;
  padding-bottom: 20px;
  border-radius: 15px;
  margin-top: 68px;
  background-color: rgba(0, 0, 0, 0.795);
  backdrop-filter: blur(5px);
}
#real-camera {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background: radial-gradient(circle, rgb(46, 46, 46) 0%, rgb(29, 29, 29) 100%);
  margin-left: 10px;
}
#apps {
  margin-top: 80px;
  display: flex;
  width: 100%;
  height: 570px;
  gap: 10px;
  flex-wrap: wrap;
  padding-right: 20px;
  padding-left: 20px;
}
.apps {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.15s;
  background-color: rgb(255, 255, 255);
}
.apps:hover {
  transform: scale(1.1);
}
.apps:active {
  transform: scale(1.05);
}
#calendar {
  padding-top: 25px;
  height: 55px;
  font-weight: 600;
  color: rgb(255, 97, 97);
  text-align: center;
  font-size: 25px;
}
#month {
  color: black;
  font-size: 25px;
}
#time {
  font-size: 50px;
  text-align: center;
  color: rgb(161, 161, 161);
}
#sec {
  font-size: 100px;
  color: rgb(214, 214, 214);
}
#apps-bellow {
  width: 370px;
  height: 100px;
  background-color: rgba(73, 73, 73, 0.192);
  border-radius: 20px;
  justify-self: center;
  backdrop-filter: blur(10px);
  transition: 0.2s;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#apps-bellow:hover {
  transition: 0.5s;
  transform: scale(1.2);
  .apps-b {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.15s;
    transform: scale(0.95);
    background-color: rgb(255, 255, 255);
  }
  .apps-b:hover {
    transform: scale(1.05);
  }
  .apps-b:active {
    transform: scale(0.9);
  }
}
.apps-b {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.15s;
  transform: scale(1);
  background-color: rgb(255, 255, 255);
}
/*SETTINGS*/
#settings-screen {
  background-color: rgb(236, 236, 236);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 390px;
  height: 780px;
  border-radius: 45px;
}
#settings-search {
  background-color: rgba(172, 172, 172, 0.459);
  border: none;
  height: 35px;
  width: 95%;
  padding-left: 5%;
  padding-right: 5%;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 20px;
}
#settings-search:focus {
  border: none;
  cursor: text;
}
.settings-island-icon {
  transition: 0.2s;
}
.settings-island-icon:hover {
    transform: scale(1.5);
    transform: rotate(90px);
  }
#settings-island:active {
  .settings-island-icon {
    transition: 0.2s;
    transform: scale(2);
    margin-top: 20px;
    padding-right: 30px;
    background: linear-gradient(rgb(217, 221, 222), #868994);
  }
}
.setting {
  background-color: rgba(255, 255, 255, 0.774);
  border: none;
  width: 95%;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.setting-name {
  margin-left: 20px;
  font-size: 20px;
}
#notes-screen {
  background-color: rgb(236, 236, 236);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 390px;
  height: 780px;
  border-radius: 45px;
}


/*SWITCH*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #32fc42;
}
input:focus + .slider {
  box-shadow: 0 0 1px #32fc42;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}